.slider {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: #fcb6b6;
}

.left_arrow {
  width: 50px;
  background-color: white;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 10px;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}

.right_arrow {
  width: 50px;
  background-color: white;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 10px;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}

.slider_wrapper {
  height: 100%;
  display: flex;
}

.slider_slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.slider_imageCont {
  height: 100%;
  flex: 1;
}
.slider_image {
  height: 80%;
}

.slider_info {
  flex: 1;
  padding: 15px;
}

.slider_title {
  font-size: 70px;
}

.slider_desc {
  margin: 25px 0px;
  margin-top: 10px;
  font-size: 20px;
}

.slider_button {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
}
